@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*{
margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
html{
  scroll-behavior: smooth;
}
body{
  font-size: 14px;
  font-family: "Poppins",sans-serif;
  }
.navBar{
  max-height: 15rem;
  background: linear-gradient(120deg, #ECF9FF, #FFFBEB);
  padding: 0.75rem 0.5rem;
  box-shadow: 0px 3px 7px #ccd9db ;
  position: fixed;
  /*width: 100%;*/
  z-index:1;
  right:2%;
  top: 50%;
  border-radius: 25px;
  border: 1px solid #FFE7CC;
}
.navBar p{
  font-family: cursive;
}
.navBar ul {
  /*display: flex;*/
  margin-top: 3rem;
  list-style: none;
}
.navBar ul li{
  margin-top: 1rem;
}
.navBar a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;  
  }
.hero{
 position: relative;  
}
.heroImg img{
  width: 100%;
  padding: 2rem;
  border-radius: 50%;
}
.heroBg {
  color: black ;
}
.heroImg{
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.heroBg img{
  width: 100%;
  opacity: 0.1;
  filter: blur(2px); 
}
.heroText h1{
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-family: cursive;
  font-weight: 300;
}
.name{
  font-size: 4rem;
font-family: 'Poppins';
font-weight: 100;
}
.About, .work {
  margin-top: 5rem;
padding: 1rem;
}
.About{
  min-height: 20rem;
}
.About h2, .work h2{
  font-size: 2.5rem;
font-weight: 300;
}
.About p{
  font-weight: 300;
  margin-top: 1.5rem;
  line-height: 1.5;
}
.work .projectOne{
  background: #FFFBEB;
  min-height: 15rem;
  max-width: 25rem;
  margin-top: 1rem;
  border-radius: 20px;
  border-left: 1rem solid #FFE7CC;  
}
.projectOne{
  padding: 20px;
}
.projectOne h2{
    font-size: 16px;
}
.projectOne p{
  font-size: 14px;
}
